body
{
	margin: 8px;
}

table
{
	width: 100%;
	height: 400px;
	text-align: center;
}

.container
{
	width: 600px;
	height: 500px;
	background-color: white;
	border: 4px solid lightblue;
	border-radius: 10px;
	margin: auto;
	justify-content: center;
}

.bb
{
	display: inline-block;
	width: 120px;
	height: 50px;
	border: 2px solid lightblue;
	border-radius: 10px;
}
