body
{
	margin: 8px;
}

table
{
	width: 100%;
	height: 928px;
	border: 2px solid black;
	background-color: white;
}

select
{
	width: 600px;
	height: 30px;
	border: 2px solid lightblue;
	font-size: 20px;
	font-weight: bold;
	color: black;
	border-radius: 10px;
	text-align: center;
}

.title
{
	width: 500px;
	height: 30px;
	border: 2px solid lightblue;
	font-size: 20px;
	font-weight: bold;
	color: black;
	border-radius: 10px;
	text-align: center;
}
.pw
{
	width: 98px;
	height: 30px;
	border: 2px solid lightblue;
	font-size: 20px;
	font-weight: bold;
	color: black;
	border-radius: 10px;
	text-align: center;
}

.msg
{
	width: 600px;
	height: 600px;
	border: 2px solid lightblue;
	font-size: 20px;
	font-weight: bold;
	color: black;
	border-radius: 10px;
	text-align: center;
	resize: none;
}

.file
{
	padding-left: 200px;
	width: 600px;
	height: 30px;
	border: 2px solid lightblue;
	font-size: 15px;
	font-weight: bold;
	color: black;
	border-radius: 10px;
	text-align: center;
}

.submit
{
	width: 100px;
	height: 40px;
	line-height: 40px;
	border: 2px solid lightblue;
	font-size: 20px;
	font-weight: bold;
	color: black;
	border-radius: 10px;
	text-align: center;
}
